.inputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.caret {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 9px;
  background-color: var(--primary-color);
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus ~ .caret {
    display: block;
    animation: blink 0.7s forwards infinite;
  }
}

.caretWrapper {
  position: relative;
  flex-grow: 1;
}

.readonly {
  opacity: 0.7;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
